1/start/HeroesAcademy/.vs/
1/start/HeroesAcademy/HeroesAcademy/ClientApp/.vscode/
1/final/HeroesAcademy/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
1/start/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
1/final/HeroesAcademy/HeroesAcademy/.vs/
