1/start/HeroesAcademy/.vs/
1/start/HeroesAcademy/HeroesAcademy/ClientApp/.vscode/
1/final/HeroesAcademy/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
1/start/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
1/final/HeroesAcademy/HeroesAcademy/.vs/
2/start/HeroesAcademy/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
2/start/HeroesAcademy/HeroesAcademy/.vs/HeroesAcademy/config/applicationhost.config
2/start/HeroesAcademy/HeroesAcademy/.vs/
2/final/HeroesAcademy/HeroesAcademy/ClientApp/.angular/
2/final/HeroesAcademy/.vs/
2/final/HeroesAcademy/HeroesAcademy.Application/bin/
2/final/HeroesAcademy/HeroesAcademy.Application/obj/
2/final/HeroesAcademy/HeroesAcademy.Domain/obj/
2/final/HeroesAcademy/HeroesAcademy.Domain/bin/
